@import "../common/variables";

footer.content-info {
  padding: 50px 20px;
  background-color: map-get($theme-colors, dark-blue);

  .row {
    div {
      color: #fff;

      @include arboriaBook();

      p {
        max-width: 60ch;
      }

      a {
        color: #fff;
        text-decoration: underline;
      }

      .footer-logo {
        max-width: 225px;
      }
    }

    .col-md-6 {
      position: relative;

      > div {
        @media screen and (min-width: 768px) {
          position: absolute;
          bottom: 10px;
        }
      }
    }
  }
}
